
body {
  height: 100%;
  margin: 0;
  padding-top: 60px;
  background: linear-gradient(
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.1)
    ),
    url("https://wallpapercave.com/wp/wp4870590.jpg");
  background-size: cover;
  background-position: center;
  color: white;
}

.principal {
  color: white;
  text-align: center;
  text-decoration: underline;
}

.item {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    211deg,
    rgba(2, 0, 36, 0.4206932773109243) 0%,
    rgba(2, 0, 36, 1) 100%
  );
  padding: 20px;
  margin-right: 50px;
  font-size: 20px;
  border-radius: 15px;
  border: 3px solid transparent;
  cursor: pointer;
  margin-bottom: 20px;
}
p {
  text-align: justify;
  text-justify: inter-word;
  margin: 0 auto;
}
h3 {
  margin-top: 20px;
}
.lista {
  margin-left: 12px;
}
.item1 {
  font-size: 20px;
  border-radius: 15px;
  margin-right: 130px;
  margin-left: 130px;
  margin-top: 30px;
  padding: 10px;
  grid-area: item1;
  cursor: default;
}
.img1 {
  width: 500px;
}

.footer {
  flex-basis: 100%;
  padding: 10px;
  border: 2px solid black;
  color: white;
  display: flex;
  text-decoration: solid;
  justify-content: space-between;
  background-color: rgb(2, 0, 36);
  bottom: 0;
  width: 100%;
}

.footerA {
  color: white;
}
